node_modules
dist
.env

# Ignore all Agent Data by default (Diaries, history, etc.)
data/*

# Whitelist: Core Config Files to be tracked
!data/users/template.md
!data/moltbook.json
!data/stickers.json
temp/
package-lock*